.skills {
  .iconContainer {
    position: relative;
  }

  .hrWishBox {
    position: static;
    top: 50%;
    right: calc(100% + 10px); /* Position to the left of the gift box */
    transform: translateY(-50%);
    padding: 8px;
    background-color: var(--yellow-theme-main-color);
    border: 2px solid var(--yellow-theme-main-color);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 1.5;
    color: #333;
  }

  .infoIcon {
    cursor: pointer;
  }
  &__content-wrapper {
    display: flex;
    padding: 20px;
    gap: 20px;

    &__inner-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__category-text {
        display: inline-block;
        color: var(--yellow-theme-main-color);
        font-size: 22px;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: 0.5px;
        position: relative;
        text-transform: uppercase;
        padding: 5px 10px;
        border-bottom: 2px solid var(--yellow-theme-main-color);
      }

      &__category-text::before,
      &__category-text::after {
        position: absolute;
        content: '';
        width: 2px;
        height: 5px;
        background-color: var(--yellow-theme-main-color);
        bottom: -1px;
      }

      &__category-text::before {
        left: 0;
      }

      &__category-text::after {
        right: 0;
      }

      &__progressbar-container {
        width: 100%;
      }

      .progressbar-wrapper {
        padding: 50px 0px 0px 0px;

        p {
          font-size: 1.6rem;
          margin: 0 0 10px;
          font-weight: 500;
          text-transform: uppercase;
          color: var(--yellow-theme-sub-text-color);
        }
      }
    }
  }
}
.hrWishContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--yellow-theme-main-color);
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 20px;

  .hrWish {
    margin-bottom: 20px;
  }

  .infoIcon {
    align-self: center;
  }
}

@media only screen and (max-width: 768px) {
  .skills {
    &__content-wrapper {
      flex-direction: column;
    }
  }
  .skills__content-wrapper__inner-content__progressbar-container {
    margin-bottom: 20px;
  }
  .hrWishContainer {
    flex-direction: row;
    justify-content: space-between;

    .hrWish {
      margin-bottom: 0;
    }
  }
}
