// src/components/Footer/Footer.scss

.footer {
    background-color: #282c34;
    padding: 20px;
    text-align: center;
    color: white;

    &__links {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__icon {
        margin-right: 10px;
        font-size: 1.5em;
    }

    &__button {
        font-size: 1em;
    }

    &:hover {
        text-decoration: underline;
    }
}
